.ebt-hero.two_columns .ebt-container .ebt-hero-container {
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.ebt-hero.two_columns .hero-col-2 {
  width: 55%;
}
